= form_tag(search_path, {class: 'form-inline form-search', role: :form, remote: true, method: :get}) do
  .form-group
    = text_field_tag :keyword, @keyword, placeholder: 'Search by Flickr', autofocus: true, required: true, class: 'form-control'
  = submit_tag :search, role: 'button', class: 'btn btn-default'

.images